.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  margin-left: 200px;
  padding: 0;
  width: calc(100% - 200px);
}

@media (max-width: 1024px) {
  .main {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 60px;
  }
}


